.jc-Comment {
  * {
    font: inherit;
  }

  &-actions {
    @include after-divider($pseudoClass: ":before", $width: 2rem);
    display: inline-block;
    position: relative;

    &:before {
      left: auto;
    }
  }

  &-actionList {
    list-style: none;
    margin-left: 3rem;
  }

  &-actionButton {
    color: var(--jc-gray-dark);
    font-size: .85em;
  }

  &-replyForm {
    margin-top: 1rem;
  }

  &-details {
    display: flex;
    align-items: center;
    color: var(--jc-gray-dark);
    margin-bottom: 15px;
  }

  &-content {
    padding-bottom: 12px;

    > * + * {
      margin-top: var(--jc-paragraph-spacing);
    }
  }

  &-name {
    margin: 0;
    font-weight: bold;
  }

  &-date,
  &-statusMessage {
    line-height: normal;
    color: var(--jc-gray-dark);
    display: block;
  }

  &-date {
    font-size: .9em;
  }

  &-statusMessage {
    margin: 0;
    padding: 0 0 0 .5rem;
    font-style: italic;
  }

  &-meta {
    opacity: .6;
    display: flex;
    align-items: center;
    padding: 0 0.045rem 0 .8rem;
  }

  &-anchor {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-weight: normal;

    &:visited {
      color: inherit;
    }
  }
}
