.jc-CommentList {
  overflow: hidden;

  &--replies {
    padding: 2rem 0 0 1rem;

    @include for-tablet-landscape-up() {
      padding: 2rem 0 0 2rem;
    }
  }

  &-count {
    @include after-divider;

    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;

    & + .jc-CommentList-item {
      margin-top: 2rem;
    }
  }
}
