.jc-Comment {
  * {
    font: inherit;
  }

  &-details {
    display: flex;
    align-items: center;
    color: var(--jc-gray-dark);
    margin-bottom: 15px;
  }

  &-content {
    padding-bottom: 12px;
  }

  &-name {
    margin: 0;
    font-weight: bold;
  }

  &-date,
  &-statusMessage {
    line-height: normal;
    color: var(--jc-gray-dark);
    display: block;
  }

  &-statusMessage {
    margin: 0;
    padding: 0 0 0 .5rem;
    font-style: italic;
  }

  &-meta {
    opacity: .6;
    display: flex;
    align-items: center;
    padding: 0 0.05rem 0 1rem;
  }

  &-anchor {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-weight: normal;

    &:visited {
      color: inherit;
    }
  }
}
