.jc-Shell {
  --jc-red: #ba274a;
  --jc-green: #5bba6f;
  --jc-gray: #dfdede;
  --jc-gray-dark: #5c5c5c;
  --jc-border-radius: 5px;
  --jc-loading-color: var(--jc-gray);
  --jc-max-width: 600px;
  --jc-paragraph-spacing: 16px;

  margin: 2rem 0;

  &-container {
    margin: 0 auto;
    max-width: var(--jc-max-width);
  }

  .jc-Shell {
    margin: 0;
  }
}
